#listagem {
  border-radius: 20px;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.25), 0px 4px 5px rgba(0, 0, 0, 0.25);
  margin: 10px 30px 30px 20px;
  padding:  10px;
    
}

#EditResp {
  padding:  30px 20px 0;
}

#EditResp h5 {

  font-weight: bold;
  color: #00249c;
  display: flex;
  justify-content: center;
}

#CardFormRes {
  padding: 10px  0;
}


#CardResp {
  margin: 0 100px;
}

th {
  color: #00249C;
}


#BotaoTelaRespo {
  background-color: #00249C;
  margin: 5px;
  border: none;
}

#BotaoCadResp {
    background-color: #185296;
    border-radius: 10px;
}
#BotaoCadResp:hover {
    opacity: 0.9;
    color: #f8f8f8;
}


#BotaoResp {
    padding: 0 5px 0 0;
    background-color: transparent;
    color: gray;
    border: none;
    box-shadow: none; 
}
#BotaoResp2 {
    padding: 0 5px 0 0;
    background-color: transparent;
    color: gray;
    border: none;
    box-shadow: none; 
}

#BotaoResp:hover {
    color: black;
}
#BotaoResp2:hover {
    color: #FF0000;
}

#bordaArreEsq{
    border-radius: 15px 0 0 15px;
}
#bordaArreDir{
    border-radius: 0 15px 15px 0;
    
}

#tagBarraPesquisa{
  justify-content: space-between;
  display: flex;
  margin: 0 30px 20px 20px;
}



.table-striped>tbody>tr:nth-child(odd)>td {
  background-color: #fff;
}



.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  justify-content: center;
}
.pagination > .active > a{
  background-color: #185296 ;
  border-color: #185296 ;
  color: #fff;
  border-radius: 5px;
}
.pagination > li > a{
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #185296 ;
  border-color: #185296;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #185296
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}



#tabelaPadrao tbody tr td{
  width: 25%;
  text-align: center;  
}

#tabelaPadrao thead{
  width: 25%;
  text-align: center;  
}
.barraDePesquisa {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  width: 450px;
  padding: 0 5px;
  border: none;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.25), 0px 4px 40px rgba(0, 0, 0, 0.25);
}



#barraPesquisa {
  border: none;
  box-shadow: none;
  background-color: #fff;
  border-radius: 10px 0 0 10px;
  outline: none;
}

#barraPesquisa:focus{ 
  border-color: inherit; 
  -webkit-box-shadow: none; 
  box-shadow: none; 
  
}





#iconPesquisa {
  background-color: #ffffff;
  color: black;
  border: none;
  margin: 0 1px

  
}

