#buttonTB{
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

#lgitem{
    display: flex;
    border-radius: 15px;
    border: none;
    margin: 0 5% 0 5%;

}

#box{
    border-radius: 20px;
    background-color: #f3f0f0;
    align-items: center;
    margin: 0 20px 0 20px;
    box-shadow: 3px 3px 8px 3px #888888;
}

#btnli{
    background-color: #00249c;
    font-weight: bold;
    border-radius: 10px;
}

#btndiv{
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 80%;
    
}

.grid-container-I {
    margin: 0 5% 0 5%;
    display: grid;
    grid-template-columns:auto auto;
    padding: 10px;
    
  }
.grid-item-I {
    width: 100%;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-self: center;
  }

#situacao-escola {
    background-color: #185296;
    color: white;
    width: 90px;
    font-size: 15px;
    align-self: center;
  }
#situacao-escola:hover {
    opacity: 0.9;
}

#modal-admin-header {
    background-color: #185296;
    color: white;
    border: none;
}



