#fundoPlano{
    margin: 20px;
    padding: 5vh;
    border-radius: 20px;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.25), 0px 4px 5px rgba(0, 0, 0, 0.25);
}
