.page-systemweb{
    display:flex;
    flex-direction: column;
}
.page-systemweb .span-systemweb{
    height: 48vw;
    width: auto;
    padding: 4vw;
    min-width: 1200px;
    margin-top: 12vh;
    background: linear-gradient(329.54deg,#00249c 0%, #395fda 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.page-systemweb .span-systemweb #text-systemweb{
    width: 50%;
}
.page-systemweb .span-systemweb #text-systemweb h2{
    text-align: center;
    color:white;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 4vw;
    padding: 0;
}
.page-systemweb .span-systemweb #text-systemweb p{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.page-systemweb .span-systemweb #img-system img{
    max-width: 40vw;
    max-height: 40vw;
    box-sizing: border-box;
    object-fit: cover;
}
.page-systemweb .tutorial-systemweb{
    height: 55vw;
    min-width: 1200px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.page-systemweb .tutorial-systemweb[typeof='sec']{
    background:rgba(226, 226, 226,0.4);
}
.page-systemweb .tutorial-systemweb #cont-tutorial1{
    width: 35%;
}
.page-systemweb .tutorial-systemweb #cont-tutorial1 h2{
    color: #00249c;
    margin-bottom: 3vw;
}
.page-systemweb .tutorial-systemweb #cont-tutorial1 p{
    line-height: 30px;
    font-size: 17px;
    color:rgba(0, 0, 0, 0.7);
    font-weight: 600;
}
.page-systemweb .tutorial-systemweb #imgs-system img{
    max-width: 50vw;
    max-height: 50vw;
    margin: 5px;
}
.page-systemweb .tutorial-systemweb #imgs-system img[alt='imgs-real']{
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-sizing: border-box;
    object-fit: cover;
}



.page-systemweb .toApp-systemweb{
    width: auto;
    min-width: 1200px;
    height: 55vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.page-systemweb .toApp-systemweb #cont-appRun{
    width: 30%;
}
.page-systemweb .toApp-systemweb #cont-appRun h2{
    color:#00249c;
    padding-bottom: 3vw;
}
.page-systemweb .toApp-systemweb #cont-appRun p{
    line-height: 30px;
    font-size: 17px;
    color:rgba(0, 0, 0, 0.7);
    font-weight: 600;
}
.page-systemweb .toApp-systemweb #icon-apprun img{
    max-width: 40vw;
    max-height: 40vw;
    object-fit: cover;
}
.page-systemweb .toApp-systemweb #icon-apprun button{
    text-decoration: none;
    border: none;
    outline: none;
    background: white;
    padding: 10px;
    border-radius: 17px;
    transition: background 1.5s;
}
.page-systemweb .toApp-systemweb #icon-apprun button:hover{
    background:rgba(180, 180, 180, 0.2);
    box-sizing: border-box;
    border-radius: 17px;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
}
