.tela-inicial-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/LoginPage.svg') ;
    -webkit-font-smoothing: antialiased !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    position: fixed;
}

.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-login {
    width: 100%;
    height: 100%;
    background: #FFF;
    border-radius: 4px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 1px 1px 6px 6px #c9c5c5;
} 
