#header-notasAluno{
    display: flex;
    margin:0px 18px 0 18px;
}

#todasNotas{
    box-shadow: 3px 3px 8px 3px #888888;
    margin: 20px;
    border-radius: 15px;
    padding: 10px;
    background-color: #f5f5f5;
    height: 80%;
    
}

#todasNotas input{
    text-align: center;
}


#todasNotas th#nome{
    width: 35%;
}


#todasNotas tr{
    align-items: center;
    border-radius: 30px;
}

#title-notas-aluno{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
#title-notas-aluno p{
    margin: auto;
    font-size: 20px;
    font-weight:600;
    color: rgb(126, 126, 126);
}