.page-systemob{
    display: flex;
    flex-direction: column;
}
.page-systemob .sec1-systemob{
    height: 48vw;
    min-width: 1200px;
    padding: 7vw;
    width: auto;
    margin-top: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(300.54deg,#00249c 0%, #395fda 100%);
}
.page-systemob .sec1-systemob #text-systemob {
    width: 50%;
}
.page-systemob .sec1-systemob #text-systemob h2{
    text-align: center;
    color:white;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 4vw;
    padding: 0;
}
.page-systemob .sec1-systemob #text-systemob p{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.page-systemob .sec1-systemob #imgs-systemob img{
    max-width: 40vw;
    max-height: 40vw;
}
.page-systemob .sec2-systemob{
    height: 55vw;
    min-width: 1200px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:rgba(226, 226, 226,0.4);
}
.page-systemob .sec2-systemob #textsec2-systemmob {
    width: 50%;
}
.page-systemob .sec2-systemob #textsec2-systemmob h2{
    color: #00249c;
    line-height: 55px;
    margin-bottom: 3vw;
    padding: 0vw 20vw 0vw 0vw;
}
.page-systemob .sec2-systemob #textsec2-systemmob p{
    line-height: 30px;
    font-size: 17px;
    color:rgba(0, 0, 0, 0.7);
    font-weight: 600;
}
.page-systemob .sec2-systemob #img-sec2 img{
   max-width: 40vw;
   max-height: 40vw;
}


.page-systemob .endsec-systemob{
    width: auto;
    min-width: 1200px;
    height: 55vw;
    background:rgba(226, 226, 226,0.4);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.page-systemob .endsec-systemob #textend-systemob{
    width: 30%;
    
}
.page-systemob .endsec-systemob #textend-systemob h2{
    color: #00249c;
    margin-bottom: 3vw;
}
.page-systemob .endsec-systemob #textend-systemob p{
    line-height: 30px;
    font-size: 17px;
    color:rgba(0, 0, 0, 0.7);
    font-weight: 600;
}
.page-systemob .endsec-systemob #imgend-systemob img{
    max-width: 50vw;
    max-height: 50vw;
}
.page-systemob .endsec-systemob #imgend-systemob button{
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 15px;
    transition: background 1.5s;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(226, 226, 226,0);
}
.page-systemob .endsec-systemob #imgend-systemob button:hover{
    border-radius: 15px;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
    background: rgba(226, 226, 226,0.5);
}
#BotaoAccordion {
    text-decoration: none !important;
    color: white !important;
    background-color: #185296 !important;
    border-radius: 10px !important;
    border: none;
    width: 10vw;
    height: 32px;
}
#BotaoAccordion:hover {
  background-color: #1d61af !important;
  color: #f8f8f8 !important;
}
