#landin_gpage{
  display: flex;
  flex-direction: column;
}
#landin_gpage .celula_lp {
  width: auto;
  min-width: 1200px;
  height: 45vw;
  display: flex;
  
  align-items: center;
  justify-content: space-around;
  
  background: linear-gradient(329.54deg,#00249c 0%, #395fda 100%);
}
#landin_gpage .celula_lp .text_celula{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
#landin_gpage .celula_lp .text_celula h2{
  margin-bottom: 10vh;
  font-weight: 900;
  font-size: 38px;
  color: white;
}
#landin_gpage .celula_lp .text_celula p{
  line-height: 40px;
  font-weight: 600;
  font-size: 20px;
}
#landin_gpage .celula_lp #imgcelula_lp img{
  max-width: 50vw;
  max-height: 50vh;
}
#landin_gpage .carousel-landing{
  background:rgba(226, 226, 226,0.4);
  width: auto;
  min-width: 1200px;
}
#landin_gpage .carousel-landing .cont-itemCarousel{
  width: auto;
  height: 44vw;
  display: flex;
  padding: 10vw;
  justify-content: space-around;
  align-items: center;
  background: rgba(226, 226, 226,0.4);
}
#landin_gpage .carousel-landing .cont-itemCarousel #imgs-carousel img{
  max-width: 35vw;
  max-height: 35vw;
}
#landin_gpage .carousel-landing .cont-itemCarousel #text-carousel{
  width: 45%;
}
#landin_gpage .carousel-landing .cont-itemCarousel #text-carousel h2{
  color: #00249c;
  margin-bottom: 4vw;
}
#landin_gpage .carousel-landing .cont-itemCarousel #text-carousel p{
  line-height: 30px;
  font-size: 16px;
  margin-bottom: 4vw;
}
#landin_gpage .carousel-landing .cont-itemCarousel #text-carousel button{
  text-decoration: none;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 16px;
  background: #00249c;
  border-radius: 15px;
  color: white;
  font-weight: 600;
}
#landin_gpage .carousel-landing .cont-itemCarousel #text-carousel h2[typeof='help']{
  font-size: 50px;
}
#landin_gpage .resu-System{
  width: auto;
  min-width: 1200px;
  height: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#landin_gpage .resu-System #text-resu{
  width: 40%;
  
}
#landin_gpage .resu-System #text-resu h2{
  color:#00249c;
  margin-bottom: 4vw;
}
#landin_gpage .resu-System #text-resu p{
  line-height: 30px;
  font-size: 16px;
  color:rgba(0, 0, 0, 0.7);
  font-weight: 600;
}
#landin_gpage .resu-System #image-resu img{
  max-width: 50vw;
  max-height: 50vw;
  object-fit: cover;
  border-radius: 7px;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
}
#landin_gpage .aplic-landing{
  display: flex;
  justify-content: space-around;
  height: 50vw;
  width: auto;
  align-items: center;
  min-width: 1200px;
}

#landin_gpage .aplic-landing .web-aplic{
  display: flex;
  margin: 20px;
  padding: 15px;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#landin_gpage .aplic-landing .web-aplic button{
  background: white;
  padding: 12px;
  outline: none;
  border: none;
  text-decoration: none;
  border-radius: 15px;
  transition: background 0.5s;
}
#landin_gpage .aplic-landing .web-aplic button:hover{
  background: rgba(138, 138, 138, 0.1);
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
}
#landin_gpage .aplic-landing .web-aplic #text-web h3{
  color:#00249c;
  margin-top: 3vw;
}
#landin_gpage .aplic-landing .web-aplic #imgs-web img{
  width: 100%;
  max-width: 30vw;
  max-height: 40vw;
}



