#listaAlunos{
    display: flex;
    flex-direction: row;
    padding: 15px;
}

#listaAlunos h5{
    text-align: center;
    font-weight: bold;
    color: white;
}
#alunos-disp{
width: 100%;
overflow-y: auto;
height: 100%;
background-color:  #3B8EEF;
border-radius: 10px;
margin-right: 10px;
padding: 10px;
}

#list-group{
    background-color: transparent;
}

#alunos-select{
    width: 100%;
    overflow-y: auto;
    height: 100%;
    background-color:  #3B8EEF;
    border-radius: 10px;
padding: 10px;
display: flex;
flex-direction: column;

}

#item-list1{
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

#item-list1 p{
    margin-bottom: 0;
}

#item-list2{
    margin: 5px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

#aluno-check{
    display: flex;
    flex-direction: column;
}

#aluno-check p{
    margin-bottom: 0;
}