#fundofp {
    margin: 0;
    background-color: transparent;
    background-image: url('../../assets/LoginPage.svg') ;
    -webkit-font-smoothing: antialiased !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    position: fixed;
  }

  #fundofp h1{
    font-family: 'Poiret One', cursive;
  }

  #fundofp form{
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 5px 8px 5px #888888;
  }

  #box-input-forgot{
    display: flex;
    flex-direction: row;
    height: 40px;
    border: solid 1px #00249c;
    border-radius: 10px;
    margin-top: 5px;

}

#icon-forgot{
    color: #00249c;
    height: 20px;
    width: 100%;
    max-width:21px;
    justify-content: center;
    align-self: center;
    margin-left: 15px;
}

#input-forgot{
  border: none;
  background-color: transparent;
  box-shadow: none;
}

#fundofp button{
    background-color: #00249c;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
    width: 65%;
}

#fundofp button:hover{
  background-color: #67d2d7;
}