.rp {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    background-color: #FFF;
    max-height: 30px;
    color: #444;
    height: 50px;
    margin: 1px 0;
}
