.tela-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/bg-water.jpg') ;
    -webkit-font-smoothing: antialiased !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.container {
    margin: 0px auto 10px;
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 75%;
    background: #FFF;
    margin-top: 50px;
    border-radius: 4px;
    padding: 30px;
} 
  
.content > p {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 30px;
}

.texts{
    text-align: center;
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 10px;
}

.texts_sub {
    text-align: center;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 20px;  
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.btn#cadastro {
    border: 0;
    border-radius: 2px;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: bold;
    color: "white";
    cursor: pointer;
    margin: 0 2px;
    width: 100%;
}

.content form {
    display: flex;
    flex-direction: column;
}

.content form label {
    font-size: 14px;
    color: #444;
    font-weight: bold;
    margin-bottom: 8px;
}

.content form input {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 45px;
    padding: 0 15px;
    font-size: 16px;
}

.meio {
    display: flex;
    justify-content: center;
}

