.container-dashBoardAdmin{
    padding: 20px;
    width: 100%;
    height: 100%;
}

#cardColumns-dashAdmin{
    width: 100%;
    display: flex;
    align-items: center;
}

#card-dashBoardAdmin{
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 18px;
    box-shadow: 3px 3px 8px 3px #888888;
    background-color: rgb(255, 255, 255);  
    height: 40vh;
}

#card-dashBoardAdmin img{
    width: 100%;
    display: flex;
}

#text-title-dashAdmin{
    font-size: 16px;
    font-weight: 600;
    color: gray;
}

#card-dashBoard-link{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
}