#BotaoAccordion {
    text-decoration: none;
    color: white;
    background-color: #185296;
    border-radius: 10px;
}
#BotaoAccordion:hover {
  background-color: #1d61af;
  color: #f8f8f8;
}

#cardCabecalho {
    background-color: white;
    margin-bottom: 0.1px;
}

#tabelaProfessor tbody tr td{
    width: 18%;
    text-align: center;  
  }
#tabelaProfessor tbody tr td#bordaArreEsq{
    width: 20%;
    text-align: center;  
  }

  
  #tabelaProfessor thead tr th#nome{
    width: 25%;
    text-align: center;  
  }
  
  #tabelaProfessor thead{
    width: 20%;
    text-align: center;  
  }

  #editInput  {
    margin: 5px 0;
    display: flex;
  }
  

