#container-perfilprofessor{
    width: 100%;
    min-width: 600px;
    overflow-x: hidden;
    height: 80%;
}
#container-dadosPerfilprofessor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#dados-perfilprofessor{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 3px 3px 8px 3px #888888;
    background-color:#F5F5F5;
    border-radius: 10px;
}
#container-dadosPerfilprofessor h5{
    font-weight: 600;
    color: gray;
}
#dados-perfilprofessor p{
    margin-top: 5px;
    font-size: 15px;
    font-weight: 600;
}
#container-professorAtivi{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#title-container-professorAtivi{
    display: flex;
    width: 35%;
    justify-content: space-between;
}
#title-container-professorAtivi p{
    font-size: 18px;
    font-weight: 600;
    color:gray;
}
#container-perfilprofessor-turmaeDisc{
    display: flex;
    width: 38%;
    max-height: 200px;
    padding: 10px;
    overflow-y: auto;
}   
#container-perfilprofessor-turmaeDisc table{
    width: 100%;
}
#container-perfilprofessor-turmaeDisc tr{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 20px 10px 0;
    box-shadow: 3px 3px 3px 3px #888888;
    background-color:#F5F5F5;
    border-radius: 10px;
    padding: 20px;
}
#container-perfilprofessor-turmaeDisc td{
    color: gray;
    font-size: 16px;
    font-weight: 600;
}