.container-perfilprofessor{
    background-color: #f5f5f5;
    box-shadow: 3px 3px 8px 3px #888888;
    padding: 25px;
    border-radius: 30px;
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
}
.container-perfilprofessor1{
    width: 90%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #8888;
    margin-right: 5px;
}
#label-perfilprofessor{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
}
#perfilprofessor-flex{
    display: flex;
    padding: 7px;
}
#perfilprofessor-flex p{
    font-size: 15px;
    padding: 0;
    margin: 10px;
    color: #323bb4;
    font-weight: 600;
}
#form-text-perfilprofessor{
    font-size: 15px;
    font-weight: 600;
    margin: 10px;
    color: black;
}
.container-perfilprofessor2{
    width: 100%;
    margin-left: 5px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #8888;
}
#form-group-perfilprofesor{
    display: flex;
    justify-content: space-around;
}
#text-title-perfilprofessor{
    color: #323bb4;
    font-size: 15px;
    font-weight: 600;
}
#style-p-perfilprofessor{
    color: black;
    font-size: 15px;
    font-weight: 600;
}
.container-conteudo-atividade{
    width: 100%;
    display: flex;
    justify-content: space-around;
}