#bordaArreDir2{
  border-radius: 0 15px 15px 0;
  padding: 7px 0 0;
  justify-content: center;
}

#button {
border-radius: 10px;
border-color: #185296;
color: #185296;
padding: 2px 8px;
margin: 2px;
}

#button:hover {
background-color: #185296;
color: white;
}
#button2 {
border-radius: 10px;
border-color: #185296;
color: #185296;
padding: 2px 8px;
margin: 2px;
}

#button2:hover {
background-color: #e60000;
border-color: #e60000;
color: white;
}

#tabelaCameras tbody tr td{
  width: 33%;
  text-align: center;  
}

#tabelaCameras thead{
  width: 33%;
  text-align: center;  
}