#fundocadnoticias {
  background-image: url('../../../assets/fundoleaf-book.svg');
  -webkit-font-smoothing: antialiased !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  position: relative;
  min-height: 100vh;;
  }
