.container-teste{
    margin: 0;
    background-image: url('../../assets/fundoleaf-book.svg');
    -webkit-font-smoothing: antialiased !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    min-height: 100vh;;
    display: grid;
    grid-template-columns: 20% 79%; 
}