#card-img-top{
    display: flex;
    margin: auto;
    width: 100%;
    height:20%;
}

#card-ln{
    margin: 0 20px 20px 20px;
    box-shadow: 2px 2px 2px 2px #8888;
    overflow-y: auto;
}

.cardNoticiaT{
    padding: 20px;
}

#cardNoticia{
    box-shadow: 2px 4px 5px 6px #8888;
    margin-top: 5px;
    flex-direction: column;
    padding: 10px;
}

#cardNoticia button{
    width: 45%;
    margin-right: 5px;
    background-color: #00249c;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

#cardNoticia button:hover{
    background-color: #67d2d7;
}


#buttons-not{
    display: flex;
    flex-direction: row;
}

#bt-cads {
    width: 20%;
    background-color: #00249c;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    display: flex;
    margin: 10px;
    margin-left: 78%;
    justify-content: center;
    
}

#bt-cads:hover{
    background-color: #67d2d7;
}

#cardNoticia text{
    cursor: pointer;
}