.container-comunicadoaluno{
    height: 100%;
    min-height: 310px;
}
.cardcolumns-comunicadoAluno{
    padding: 20px;
    
}
#comunicado-aluno-view{
    box-shadow: 2px 2px 2px 2px #8888;
    margin-top: 5px;
    flex-direction: column;
    background-color: #f5f5f5;
}
#style-titleComunicadoAluno{
    font-size: 16px;
    font-weight: 600;
    color: gray;
}
#style-subtitleComunicadoAluno{
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 600;
   
}
#style-title2ComunicadoAluno{
    font-size: 16px;
    font-weight: 600;
    color:gray
}
#ajust-comunicadoAluno{
    margin-bottom: 15px;
    color: black;
    font-weight: 600;
}
#data-comunicadoAluno{
    color: black;
    font-weight: 600;
}