
.celula_lp_rodape {
    width: auto;
    min-width: 1200px;
    min-height: 40vh;
}

.celula_lp_rodape img{
  margin: 5vh;
}

.celula_lp_rodape p {
  color: white;
  margin-bottom: 9px;
 
}
.image_lp_logo{
  min-width: 5vw;
  height: 10vh;
}
