.container-professor-global{
    margin: 0;
    background-image: url('../../../assets/fundoleaf-book.svg');
    -webkit-font-smoothing: antialiased !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    overflow-y: hidden;
    min-height: 100vh;;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 79%; 
}
.ajust-buttonreturn-perfilaluno{
    display: flex;
    width: 25%;
    justify-content: center;
}

