.img-back{
    margin: 0;
    background-image: url('../../../assets/fundoleaf-book.svg');
    -webkit-font-smoothing: antialiased !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply; 
    min-height: 100vh;
    overflow-x: hidden;
}
#fundo-View-Aluno{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #fff;
    margin: 20px;
    box-shadow: 3px 3px 8px 3px #888888;
    overflow-x: hidden;

}

Button.button-teste-return{
    font-weight: 600;
    font-size: 18px;
    color: #323bb4;
    background-color: transparent;
    box-shadow: none;
    font-size: 20px;
    margin-left:10px;
    
}
Button.button-teste-return:hover{
    color: #323bb4;
}
.Tab-Style.nav.nav-tabs{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-decoration: none;

}
.Tab-Style.nav.nav-tabs a{
    background-color: #f5f5f5;
    text-decoration: none;
    font-weight: 800;
    color:#888888;
    font-size: 16px;
    outline: none;
    border-radius: 7px;
}
.Tab-Style.nav.nav-tabs a:hover{
    background-color:rgb(102, 138, 255);
}
