.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  justify-content: center;
}
.pagination > .active > a{
  background-color: #185296 ;
  border-color: #185296 ;
  color: #fff;
  border-radius: 5px;
}
.pagination > li > a{
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #185296 ;
  border-color: #185296;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #185296
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}

  /*Estelização da barra de pesquisa*/
.header-style-list{
  display: flex;
  margin-left: auto;
  width: 100%;
}
#filter{
  width: 150px;
  color: #79A5D9;
  font-size: 16px;
  margin: 0px;
  border-radius: 10px;
  width: 30%;
  box-shadow: 3px 3px 8px 3px #888888;
  text-decoration: none;
}
#header-search{
  margin-top: 5px;
  margin-left: 5px;
}
/*Estelização do botão*/
#buttonNewAluno{
  
  
  box-shadow: 3px 3px 8px 3px #888888;
}
#buttonNewAluno:hover{
  background-color: #67D2Df;
}
/*Estelização do card*/
.card-container{
  box-shadow: 3px 3px 8px 3px #888888;
  margin: 20px;
  border-radius: 8px;
  background-color:#F5F5F5;
  border-radius: 35px;
}
#back-container{
  background-color:#F5F5F5;
  border-radius: 35px;
}
.header-ajust{
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 16px;
  padding: 0;
  border-radius: 35px;
  color: #999999;
}
#card-header-lisAluno{
  background-color: #F5F5F5;
  margin: auto;
}
#card-header-lisAluno-name{
  background-color: #F5F5F5;
  margin: auto;
}
#card-header-lisAluno-turma{
  background-color: #F5F5F5;
  margin: auto;
}
#list-grup-body{
  margin: auto;
  width: 100%;
  flex-direction: column;
}
#list-button{
  width: 50%;
  display: flex;
  margin: auto;
  margin-top: 5px;
  align-items: center;
  flex-direction: column;
  text-decoration-line: none;
  background-color: #00249C;
  border-radius: 20px;
  border: none;
}
#list-button:hover{
  background-color: #67D2Df;
}
#list-subtitle-title{
  font-size: 16px;
  font-weight: 700;
}
#lis-text-subtitle{
  font-size: 15px;
  font-weight: 600;
  align-items: center;
}

.list-group{
  background-color: #fff;
}

.head-list-alunos {
  justify-content: space-between;
  display: flex;
}