
#selectDist{
    width: 100%;
    height: 30rem;
}

#table-alunos{
    overflow-y: auto;
    max-height: 20rem;
}

#Table tbody tr td{
    width: 25%;
    text-align: center;  
  }
  
#Table thead{
    width: 25%;
    text-align: center;  
  }

.abas a {
    color: #1b2286;
    background-color: #1422e92d;
}

.abas a:hover {
    color: white;
    background-color: #1b228641;
}

.Instituicao p{
    font-size: 16px;
    margin-top: 15px;
}

.Instituicao button{
    background: #323bb4;
    color: white !important;
    border: none;
    font-weight: bold;
  }

.Instituicao button:hover{
    background: #1b2286;
    transition: 0.2;
}
