#dashboard-g{
    display: flex;
    justify-content: center;
    padding: 20px;
}
#cardDash{
    border-radius: 1em;
    text-align: center;
    box-shadow: 3px 3px 8px 3px #c2c2c2;
    margin: 10px;
}

#cardDash img{
    width: 100%;
    height: 150px;
    display: flex;
    margin-left: 0;
    border-radius: 0;
}



#cardscol{
    align-items: center;
}