#box-EdN{
    border-radius: 20px;
    background-color: #f3f0f0;
    margin: 0 20px 0 20px;
    box-shadow: 3px 3px 8px 3px #888888;
    margin: 15px;
    padding: 15px;
}

#form-EdN label{
    font-style: italic;
    color: #00249c;

}
#box-EdN img{
    display: flex;
    justify-content: center;
}

#form-EdN input{
    border-color: #00249c;
}

#form-EdN textarea{
    border-color: #00249c;
}

.input-wrapper-EdN input[type='file'] {
    display: none
}
.input-wrapper-EdN label {
    background-color: #2249c7;
    border-radius: 5px;
    color: #fff;
    margin: 10px 10px 10px 0;
    padding: 6px 20px;
    cursor: pointer;
}
  
.input-wrapper-EdN label:hover {
    background-color: #67d2d7
}

#input-file-EdN{
    width: 40%;
    color: white;
}

#input-wrapper-EdN{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;

}

#form-EdN button{
    background-color: #00249c;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}
#form-EdN button:hover{
    background-color: #67d2d7
}