#fundo-cadAd{
    border-radius: 20px;
    background-color: #f3f0f0;
    margin: 0 20px 0 20px;
    box-shadow: 3px 3px 8px 3px #888888;
    margin: 15px;
}

#img-cadAd{
   padding: 20px;
}


#img-cadAd button{
    background-color: #00249c;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}
#img-cadAd button:hover{
    background-color: #67d2d7
}
#icon-cancel-ca{
    color: red;
    height: 20px;
    width: 100%;
    max-width:20px;
    cursor: pointer;
}

.input-wrapper input[type='file'] {
    display: none
}
.input-wrapper label {
    background-color: #2249c7;
    border-radius: 5px;
    color: #fff;
    margin: 10px 10px 10px 0;
    padding: 6px 20px;
    cursor: pointer;
}
  
.input-wrapper label:hover {
    background-color: #67d2d7
}

#input-file{
    width: 40%;
}

#input-wrapper-1{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;

}

#form-cadAd label{
    font-weight: bold;
}

#form-cadAd input{
    border-color: #858585;
}
