#title-NB-G{
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

#popover-basic-G div{
    border: none;
}

#item-NB-G{
    font-weight: bold;  
}

#item-NB-sair-G{
    font-weight: bold;
}

#item-NB-sair-G:hover{
    background-color: #185296;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.avatar{
    width: 60px;
    border-radius: 10%;
    margin: 5px;
}

#container-nav{
    height: 10%;
    width: 100%;
    margin-bottom: 30px;
    margin: 10px;
}

#container-nav2{
    min-width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.45);
    margin-right: 40px;
    border-radius: 5%;
    cursor: pointer;

}

#container-nav2 span{
    margin-left: 10px;
    font-weight: bold;
}

.position-nav{
    display: flex;
    justify-content: flex-end;

}
