.input-wrapper-EA input[type='file'] {
    display: none
}
.input-wrapper-EA label {
    background-color: #2249c7;
    border-radius: 5px;
    color: #fff;
    margin: 10px 10px 10px 0;
    padding: 6px 20px;
    cursor: pointer;
}
  
.input-wrapper-EA label:hover {
    background-color: #67d2d7
}
#icon-cancel-EA{
    color: red;
    height: 20px;
    width: 100%;
    max-width:20px;
    cursor: pointer;
}

#input-wrapper-EA{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;

}
#fundo-EA{
    background-color: #f3f0f0;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 3px 3px 8px 3px #888888;
    margin: 0 20px 0 20px;
}

#form-EA  label{
    font-weight: bold;
}

#form-EA input{
    border-color: #5f5f5f;
}

#fundo-EA img{
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 300px;
    align-self: center;
}

#fundo-EA button{
    background-color: #00249c;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}
#fundo-EA button:hover{
    background-color: #67d2d7
}