#BotaoCadDisc {
    background-color: #185296;
    border-radius: 10px;
}
#BotaoEditS {
    background-color: #00cc44;
    border-radius: 5px;
    border: none;
}
#BotaoEditS:hover {
    background-color: #00b33c;
    
}
#BotaoEditN {
    background-color: #ff0000;
    border-radius: 5px;
    border: none;
}
#BotaoEditN:hover {
    background-color: #e60000;
}

#BotaoCadDisc:hover {
    background-color: #1d61af;
    color: #f8f8f8;
    
}

#tabelaDisc tbody tr td{
    width: 50%;
    text-align: center;  
  }
  
#tabelaDisc thead{
    width: 50%;
    text-align: center;  
  }

#modalHeader {
    background-color: #185296;
    color: #F5F5F5;
    border: none
}

#modalBody {
    background-color: #F5F5F5;
}
#inputColor {
    background-color: #185296;
    color: white;
}
