#formni{
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: auto auto 5vh auto;
    max-width: 1200px;
    background-color: #f3f0f0;
    box-shadow: 3px 3px 8px 3px #888888;
}
#linkCadINs{
    color: gray;
    
}
#header-formCadInst{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
#header-formCadInst strong{
    font-weight: 800;
    margin-top: 15px;
    font-size: 20px;
}
#header-formCadInst p{
    font-weight: 600;
    font-size: 15px;
    margin-top: 15px;
    color:gray;
}
#label-CadInst{
    font-size: 15px;
    font-weight: 600;
    color: #185296;
}
#btni{
    background-color: #00249c;
    font-weight: bold;
    border-radius: 10px;
    width: 50%;
    margin: auto;
}