.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  justify-content: center;
}
.pagination > .active > a{
  background-color: #185296 ;
  border-color: #185296 ;
  color: #fff;
  border-radius: 5px;
}
.pagination > li > a{
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #185296 ;
  border-color: #185296;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #185296
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}
#listarALunoturma-title{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#listarALunoturma-title p{
  margin: auto;
  font-size: 20px;
  font-weight:600;
  color: rgb(126, 126, 126);
}