.container-perfil-aluno{
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 20px;
}
#card-perfilaluno{
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    width: 35%;
    box-shadow: 2px 2px 5px 4px #8888;
}
#foto-perfil-aluno{
    padding: 0;
    margin: 0;
}

#ajust-item-tdAluno{
    float: right;
    display: flex;
}
#table-viewaluno{
    width: 100%;
    margin: 0;
    padding: 0;
}
#button-container-vieewaluno{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
    flex-direction: row;
    
}
#tr-conteudo-listaluno{
    display: flex;
    justify-content: space-between;
}
#style-td-perfilaluno{
    font-weight: 600;
    color: gray;
}

/*Button*/


#button-editer{
    text-decoration: none;
    font-size: 17px;
    color: #f5f5f5;
    border-radius: 20px;
    font-weight: 600;
    outline: none;
    border: none;
    background-color: #323bb4;
}
#button-editer:hover{
    background-color: #4bf0ff;
}
#button-excluir{
    text-decoration: none;
    font-size: 17px;
    color: #f5f5f5;
    font-weight: 600;
    border-radius: 20px;
    font-weight: 600;
    outline: none;
    border: none;
    background-color: #323bb4;
}
#button-excluir:hover{
    background-color: #ff0000;
}
#style-td-perfilaluno{
    font-weight: 700;
    color: #999999;
}





/*modal*/
#modal-delete-aluno{
    margin: auto;
    border: none;
    font-weight: 700;
}
#modal-body-perfilaluno{
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
}
#footer-modal-perfilaluno{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
#button-confirmDeleteAluno{
    border: none;
    border-radius: 10px;
    background-color: #323bb4;
    font-size: 16px;
    font-weight: 600;
}
#button-confirmDeleteAluno:hover{
    background-color: red;
    color: white;
}
#button-NoconfirmDeleteAluno{
    border: none;
    border-radius: 10px;
    background-color: #323bb4;
    font-size: 16px;
    font-weight: 600;
}
#button-NoconfirmDeleteAluno:hover{
    background-color: aqua;
    color: white;
}