
#header-todas-asnotas{
    display: flex;
    justify-content: space-between;
    margin: 0 18px 0 18px;
}
#header-todas-asnotas button{
    border: none;
    border-radius: 10px;
    background-color: #185296;
    font-size: 16px;
    font-weight: 600;
    float: right;
    width: 182px;
}
#header-todas-asnotas button:hover{
    background-color: rgb(25, 43, 146);
}
#todasNotas{
    box-shadow: 3px 3px 8px 3px #888888;
    margin: 20px;
    border-radius: 15px;
    padding: 10px;
    background-color: #f5f5f5;
    height: 80%;
    
}
#title-notas{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
#title-notas p{
    margin: auto;
    font-size: 20px;
    font-weight:600;
    color: rgb(126, 126, 126);
}

#todasNotas input{
    text-align: center;
}


#todasNotas th#nome{
    width: 35%;
}


#todasNotas tr{
    align-items: center;
    border-radius: 30px;
}

/*Modal*/

#title-modal-notasSalvar{
    font-weight: 600;
    margin: auto;
}
#body-modal-notasSalvar{
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0 15px 0;
}
#footer-modal-notasSalver{
    display: flex;
    justify-content: space-around;
}
#button-modal-dicTurma{
    border: none;
    border-radius: 10px;
    background-color: #185296;
    font-size: 15px;
    font-weight: 600;
}
#button-modal-dicTurma:hover{
    background-color: rgb(25, 43, 146);
}
#button-modal-dicturmaNo{
    border: none;
    border-radius: 10px;
    background-color: #185296;
    font-size: 15px;
    font-weight: 600;
}
#button-modal-dicturmaNo:hover{
    background-color: rgb(155, 45, 45);
}
