.img-back-turma{
    margin: 0;
    min-height: 100vh;
    width: 100%;
    background-image: url('../../../assets/fundoleaf-book.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
}
#container-list{
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.8); 
}

