
#container-cadnotificação-input{
    display: none;
 }
 
 #style-upload-cadnotificação{
     font-weight: 600;
     color: white !important;
     margin: 5px;
 }
 
 #imput-group{
     background: #323bb4;
     background: #323bb4;
     border-radius: 5px;
     padding: 5px;
     align-items: center;
     justify-content: center;
 }
 
 #imput-group:hover{
     background: #1b2286;
     transition: 0.2;
 }
 
 #CardcadNot-title{
     font-weight: bold;
     text-align: center;
     align-self: center;
 }
 
 #CardcadNot label{
     color:rgb(43, 42, 42)
 }
 
 #cadNotificacao{
     background-color: #f5f5f5;
     padding: 30px;
     border-radius: 15px;
     align-self: center;
     justify-self: center;
     box-shadow: 1px 2px 3px 4px rgb(104, 104, 104, 0.5);
     margin-bottom: 30px;
   }
 
 .filter-cadNot{
     width: 30rem;
     display: flex;
     flex-direction: row;
     background-color: white;
     border-radius: 10px;
     align-items: center;
     box-shadow:  0px 4px 5px rgba(0, 0, 0, 0.25);
     margin: 5px;
     border: solid 1px rgba(0, 0, 0, 0.25);
 }
 
 .filter-cadNot #icon{
     margin: 5px;
 }
 
 .filter-cadNot #form-cadnot{
     border: none;
     box-shadow: none;
     outline: none;
 }
 
 #imput-button{
     justify-content: space-between;
     align-items: center;
     direction: rtl;
   }
 
 #cadNotificacao button{
     background: #323bb4;
     color: white !important;
     border: none;
     font-weight: bold;
   }
 
 #cadNotificacao button:hover{
     background: #1b2286;
     transition: 0.2;
 }
 