#fundoda {
    margin: 0;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-image: url('../../../assets/fundoleaf-book.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: auto;
}