#FormResp {
    border-radius: 20px;
    color: #00249c;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.25), 0px 4px 5px rgba(0, 0, 0, 0.25);
    margin: 10px 30px 10px 20px; 
}


#FormResp h5 {

    font-weight: bold;
    color: #00249c;
    display: flex;
    justify-content: center;
}

#formBody {
    padding:  30px 100px 0;
    
}

#formHead {
    padding:  30px 20px 0;
    
}

#BotaoFormResp  {
    background-color: #00249C;
    margin: 5px 0;
}

#BotaoSemEstilo {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #00249c;
    margin: 0 0 0 185px;
    font-size: 13px;
    text-decoration: underline;
}

