/*Div  global*/
#prfl-turma-box{
    box-shadow: 3px 3px 8px 3px #888888;
    margin: 20px;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    height: 80%;
    min-width: 600px;
}
/*Div do cabeçalho*/
#prfl-turma-header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
#titulo-turma{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#titulo-turma p{
    margin-left: 5px;
}
#titulo-turma p#nome{
    font-size: 22px;
    font-weight: bold;
}
/*Button de retornar para lista de turmas*/
#link-return-listurma{
    display: flex;
    margin-bottom: 17px;
    margin-right: 10px;
    height: 20px;
}
#button-edit-turma{
    border: none;
    border-radius: 10px;
    background-color: #185296;
    font-size: 17px;
    font-weight: 600;
    width: 160px;
}
#button-edit-turma:hover{
    background-color: rgb(25, 43, 146);
    color: white;
}
/*Segunda div global*/
#prfl-turma{
    display: grid;
    grid: auto;
    grid-template-areas:
      'disciplina disciplina aluno '
      'disciplina disciplina professor';
    grid-template-rows: 35% auto ;
    border-radius: 15px;
    height: 88%;
}
#prfl-turma::-webkit-scrollbar{
    width: 15px;
    background: tomato;
}
#prfl-disciplinas{
    background-color: #3B8EEF;
    grid-area: disciplina;
    margin: 10px 0 10px 10px;
    border-radius: 15px;
    
}

#prfl-aluno{
    grid-area: aluno;
    background-color: #3B8EEF;
    margin: 10px 10px 10px 10px;
    border-radius: 15px;
}

#prfl-aluno span{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    font-weight: 600;
    color: white;
    align-items: baseline;
}
#prfl-aluno span p{
    color: white;
    font-size: 18px;
    
}
#prfl-aluno span p#numeroAl{
    font-size: 30px;
    margin: 0 5px 35px 0;
    
}

#prfl-professor{
    grid-area: professor;
    background-color: #3B8EEF;
    margin: 0 10px 10px 10px;
    border-radius: 15px;
}
#prfl-professor h6{
    padding: 20px;
    color:#fff;
    font-weight: bold;
    font-size: 30px;
}

#header-disciplina{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#header-disciplina h6{
    font-weight: bold;
    color: white;
    font-size: 30px;
}
#header-disciplina button{
    border: none;
    border-radius: 10px;
    background-color: #185296;
    font-size: 15px;
    font-weight: 600;
}
#header-disciplina button:hover{
    background-color: rgb(25, 43, 146);
}

#prfl-turma-header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
#scroll{
    overflow-y: scroll;
    height: 22em;
    padding: 10px;
}
#scroll-prof{
    overflow-y: scroll;
    height: 11em;
}

#scroll table{
    width: 100%;
    background-color: white;
    margin: 0 10px 10px 0; 
    border-radius: 15px;
}

#scroll table td{
    padding: 8px;
    width: 40%;
}

#disciplina-turma-p{
    font-size: 16px;
    font-weight: 600;
    color: gray;
}
#button-gerenciar-notas{
    border: none;
    border-radius: 10px;
    background-color: #185296;
    font-size: 15px;
    font-weight: 600;
    float: right;
}
#button-gerenciar-notas:hover{
    background-color: rgb(25, 43, 146);
}
#td-ajust-turma button{
    margin-left: 10px;
}
#disciplina-turma-p{
    font-size: 16px;
    font-weight: 600;
    color: gray;
}
#button-gerenciar-notas{
    border: none;
    border-radius: 10px;
    background-color: #185296;
    font-size: 15px;
    font-weight: 600;
}
#button-gerenciar-notas:hover{
    background-color: rgb(25, 43, 146);
}
#item-list{
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    margin:10px;
    text-align: center;
}
/*Modal*/
#modal-title-turma{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;

}
#form-label-turma{
    font-size: 16px;
    font-weight: 600;
    color: gray;
    margin-top: 10px;
}
#button-addDisc{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
}
#button-addDisc button{
    border: none;
    border-radius: 10px;
    background-color: #185296;
    font-size: 15px;
    font-weight: 600;
}
#button-addDisc button:hover{
    background-color: rgb(25, 43, 146);
}
#titulo-turma p#nome{
    font-size: 22px;
    font-weight: bold;
}