
.tab-content>.active{
    background-color: #f5f5f5;
}
.container-responsavel-view{
    display: grid;
    grid-template-columns:repeat(1, 1fr);
    display: flex;
    width: 100%;
    padding: 0;
    min-height: 310px;
}
#elements-responsavelView{
    margin: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color:rgb(230, 230, 230);
    border-radius: 35px;
    width: 40%;
}
#elements-responsavelView-title{
    font-size: 14px;
    font-weight: 600;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}
#elements-responsavelView-title p{
        color: #999999;
}
#elements-responsavelView-title text{
    margin-left:30px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

#responsavelView-bt{
    display: flex;  
    flex-direction:row;
    font-weight: bold;
    margin: auto;
   justify-content: space-between;
}

#resp-bt-ed{
    color:#323bb4;
    font-size: 17px;
    font-weight: bold;
    border:none;
    background-color: transparent;
    width:100%;
    padding: 8px;
}

#resp-bt-ed:hover{
    background-color: #a6c4f1;
}

#resp-bt-ex{
    color:red;
    font-size: 17px;
    font-weight: bold;
    border:none;
    background-color: transparent;
    width:100%;
    padding: 5px;
}

#resp-bt-ex:hover{
    background-color: #f1a6a6;
}

#resp-bt-cad{
    background: #323bb4;
    font-size: 17px;
    font-weight: bold;
    border:none;
    width:10%;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
}
#resp-bt-cad:hover{
    background: aqua;
}

.form-responsavel {
    padding:  30px 100px 0;
    background-color: #F7F7F7;
    color: #323bb4;
}

.header-form-responsavel {
    display: flex;
    background-color: #F7F7F7;
    color: #323bb4;
    justify-content: center;
}

.popup-content {
    padding: 0 !important;
}