#principal-escola {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    
}

.barraPrincipal {
    display: flex;
    margin:auto;
    flex: column;
    background-color: #185296;
    border-radius: 20px;
    width: 75%;
    height: 35rem;
    
}

#imagem {
    margin: -3rem 0 0;
    padding: 0;
    width:200px;
}

#cardQtd {
    
    justify-content: space-around;
    align-items: center;
    display: flex;

    border-radius: 10px;
    margin-top: 5px;
    padding: 5px;
    height: 4rem;
    width: 13rem;

    background-color: #185296;
    color: white;

}

#cardsQtd {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 75%;
    
}

#iconPerfil {
    background-color: white;
    color: #185296;
    border-radius: 5px;
    height: 35px;
    width: 40px;
    padding: 10px;
}

#cardHeader {
    display: flex;
    justify-content: space-between;
    
}

#iconsPerfil {
    padding: 0 5px 0 0;
    background-color: transparent;
    color: gray;
    border: none;
    box-shadow: none; 
}

#iconsPerfil:hover {
    color: black;
}