#container-contato{
    padding: 20px;
    width: 90%;
    margin: 50px;
    height: 100%;
    min-width: 800px;
    background-color: #f3f5f5;
    box-shadow: 3px 3px 8px 3px #888888;
    border-radius: 15px;
    
}
#scroll-conainer{
    background-color: #f3f5f5;
    height: 100%;
}

#ajust-backcor-contato{
    background-color: #f3f5f5;
}
#container-header-contato{
    display: flex;
}
#container-header-contato p{
    font-weight: 600;
    color: rgb(87, 85, 85);
    font-size: 23px;
    margin: auto;
}
#text-central-contato{
    font-size: 15px;
    font-weight: 600;
    color: rgb(87, 85, 85);
}
#form-row1-contato{
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin: auto;
}
#title-comunicado-contato{
    color: #185296;
    font-weight: 600;
}
#form-grup-contato{
    display: flex;
    width: 95%;
    flex-direction: column;
    padding: 20px;
}
#textarea-contato{
    font-size: 15px;
    color: rgb(87, 85, 85);
    border-radius: 7px;
    font-weight: 600;
    border: 1px solid #cccccc;
    padding: 5px;
}
#form-row3-contato{
    display: flex;
    width: 100%;
    margin: auto;
}
#form-row3-contato button{
    border: none;
    border-radius: 10px;
    background-color: #185296;
    font-size: 15px;
    font-weight: 600;
    width: 200px;
    margin: 20px;
}
#form-row3-contato button:hover{
    background-color: rgb(25, 43, 146);
}