/*Paginação*/

.imgUp {
    border-radius: 10px;
    margin-bottom: 20px;
}

.imgUp .btnImgUp {
    background: #323bb4;
    font-weight: bolder;
}

.imgUp  :hover.btnImgUp {
    background: #297394;
    transition: 0.2;
}

#button {
    border-color: none;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  justify-content: center;
}
.pagination > .active > a{
  background-color: #185296 ;
  border-color: #185296 ;
  color: #fff;
  border-radius: 5px;
}
.pagination > li > a{
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #185296 ;
  border-color: #185296;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #185296
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}

/*filtro e botão de cadastro*/
.notificação-filter-cad{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 15px;
}
  #filter-notificação{
    width: 250px;
    color: #79A5D9;
    height: 40px;
    font-size: 16px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 3px #888888;
    text-decoration: none;
  }
#button-cad-notficicação{
  width: 250px;
  background-color: #00249C;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  color: #FFF;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  box-shadow: 3px 3px 8px 3px #888888;
}
#button-cad-notficicação:hover{
  background-color: #67D2Df;
}
#header-search{
  margin-right: auto;
  display: flex; 
}
/*Tabela*/

.container-lisnotificação{
  width: 100%;
  margin: auto;
  padding: 20px;
  background-color: #F5F5F5;
  border-radius: 35px;
  box-shadow: 3px 3px 8px 3px #888888;

}
.header-lisnotificação{
  color:#323bb4;
  font-weight: 600;
  font-size: 17px;
}
#ajust-lisnotificação-ações{
  display: flex;
  align-items: center;
  flex-direction: column;
}
#card-text-limite-notificação{
  max-width: 15ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#ajust-lisnotificação-buttons{
  display: flex;
  padding-left: 35%;
  justify-content: space-around;
}
#button-notificação{
  padding: 0 5px 0 0;
  background-color: transparent;
  color: gray;
  border: none;
  box-shadow: none;
  
}
#button-notificação:hover{
  color: black;
}
#style-title-lisnotificação{
  color: rgb(116, 116, 116);
  font-weight: 600;
  font-size: 16px;
}

/*Modal*/
.container-modal-notificação{
  width: auto;
  display: flex;
}

#modal-header-notificação{
  font-size: 16px;
  font-weight: 900;
  color: black;
  display: flex;
  justify-content: center;
  border: none;
}
#modal-body-notificação{
  font-size: 16px;
  font-weight: 600;
  color: #5d5c5c;
  border: none;
  width: 100%;
}
#modal-footer-notificação{
  display: flex;
  border: none;
  justify-content: space-around;
}
#button-ConfirmDeletenotificação-modal{
  border: none;
  border-radius: 10px;
  background-color: #323bb4;
  font-size: 16px;
  font-weight: 600;
}
#button-ConfirmDeletenotificação-modal:hover{
  background-color: red;
  color: white;
}
#button-NoConfirmDeletenotificação-modal{
  border: none;
  border-radius: 10px;
  background-color: #323bb4;
  font-size: 16px;
  font-weight: 600;
}
#button-NoConfirmDeletenotificação-modal:hover{
  background-color: aqua;
  color: white;
}

