#box-EdAl{
    border-radius: 20px;
    background-color: #f5f5f5;
    margin: 0 30px 30px 20px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.25), 0px 4px 5px rgba(0, 0, 0, 0.25);
    padding: 10px 100px 30px 100px;
    
}
 
#box-EdAl h5{
    font-weight: bold;
    color: #00249c;
    display: flex;
    justify-content: center;
}

#form-EdAl label{
    font-style: italic;
    color: #00249c;

}
#box-EdAl img{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}



#form-EdAl textarea{
    border-color: #00249c;
}
#form-EdAl form {
    padding: 10px 100px 30px 100px;
    
}


.input-wrapper-EdAl input[type='file'] {
    display: none
    
}

.input-wrapper-EdAl label {
    background-color: #00249c;
    border-radius: 5px;
    color: #fff;
    margin: 10px 10px 10px 0;
    padding: 6px 20px;
    cursor: pointer;
}
  
.input-wrapper-EdAl label:hover {
    background-color: #67d2d7
}

#input-file-EdAl{
    width: 40%;
    color: white;
    
}



#input-wrapper-EdAl2{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#input-wrapper-EdAl{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin: 0 0 40px 0;
   
    
}


#form-EdAl button{
    background-color: #00249c;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

#form-EdAl button:hover{
    background-color: #67d2d7
}


#bt-return{
    float: left;
    display: flex;
    font-size: 17px;
    color: #00249c;
    font-weight: 600;
    
}
