#listaAlunos-tuto{
    display: flex;
    height: 450px;
    flex-direction: row;
    padding: 15px;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 8px 3px #888888;
}

#listaAlunos-tuto h5{
    text-align: center;
    font-weight: bold;
    color: white;
}
#alunos-disp-tuto{
width: 100%;
overflow-y: auto;
height: 100%;
background-color:  #3B8EEF;
border-radius: 10px;
margin-right: 10px;
padding: 10px;
}

#list-group-tuto{
    background-color: transparent;
}

#alunos-select-tuto{
    width: 100%;
    overflow-y: auto;
    height: 100%;
    background-color:  #3B8EEF;
    border-radius: 10px;
padding: 10px;
display: flex;
flex-direction: column;

}

#item-list1-tuto{
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#item-list1-tuto  button{
    background-color: rgb(230, 55, 55);
    border: none;
}

#item-list1-tuto  button:hover{
    background-color: rgba(230, 55, 55, 0.712);
}

#item-list2-tuto{
    margin: 5px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

#aluno-check-tuto{
    display: flex;
    flex-direction: column;
}

#aluno-check-tuto p{
    margin-bottom: 0;
}

#aluno-tutorado{
    display: flex;
    flex-direction: column;
}

#aluno-tutorado p{
    margin-bottom: 0;
}