#form-edicao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    color: #185296;
}

#header-form-edicao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button-header {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
    color: #323bb4;
}

#label-form {
    font-weight: bold;
}

#button-back {
    padding: 0 5px 0 0;
    background-color: transparent;
    border: none;
    display: flex;
    align-self: start;
}

#button-back a{
    color: gray
}



#button-back a:hover {
    color: black;
}

#button-edit {
    box-sizing: border-box;
    border: none;
    background-color: #323bb4;
    margin-right: 5px; 
}

#button-edit:hover {
    opacity: 0.8;
}

#buttons-edit {
    display: flex;
    justify-content: flex-start;
}

#discard-edit {
    background-color: red;
    border: none;
}

#discard-edit:hover {
    opacity: 0.8;
}

