#input-login{
    border: none;
    background-color: transparent;
    box-shadow: none;
}

#bt-login{
    background-color: #00249c;
    font-weight: bold;
    border-radius: 10px; 
    border: none; 
}

#bt-login:hover{
    background-color: #67d2d7;
}

#box-input-login{
    display: flex;
    flex-direction: row;
    height: 40px;
    border: solid 1px #00249c;
    border-radius: 10px;
    margin-top: 5px;

}

#icon-login{
    color: #00249c;
    height: 20px;
    width: 100%;
    max-width:21px;
    justify-content: center;
    align-self: center;
    margin-left: 15px;
}

#logo-login{
    display: flex;
    justify-content: center;
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    margin-bottom: 30px;
}

#contato-login{
    margin-top: 5px;
}

#contato-login span{
    color: #323bb4;
    cursor: pointer;
}

#recvr-login{
    display: flex;
    border: none;
    background-color: transparent;
    justify-content: flex-end;
    margin: 5px 0 5px 0;
    color: #323bb4;
    margin-left: auto;
}

#recvr-login {
    cursor: pointer;
}

#button-login{
    width: 100%;
    display: flex;
    flex-direction: column;
}