#fundo-form{
    background-color: #f3f0f0;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 3px 3px 8px 3px #888888;
}



#titulo-form{
    margin-bottom: 15;
    font-weight: 'bold';
    margin-bottom: 10px; 
}

#titulo-form-h5 h5{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #00249c;
}

#titulo-form-body{
    text-align: center;
    font-weight: bold;
}

#form-sol label{
    font-style: italic;
    color: #00249c;
}



#header-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-form h4 {
    color: #323bb4;
}

#button-back-form {
    padding: 0 5px 0 0;
    background-color: transparent;
    border: none;
    display: flex;
    align-self: start;
}

#button-back-form a{
    color: gray
}



#button-back-form a:hover {
    color: black;
}

#button-form {
    box-sizing: border-box;
    border: none;
    background-color: #323bb4;
    margin-right: 5px; 
}

#button-form:hover {
    opacity: 0.8;
}