
#modalHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#modalHeader button {
    border: none;
    color: #fff;
    background-color: transparent;
    padding: 10px;
    font-weight: 900;
}

#modalHeader button:hover {
    opacity: 0.8;
}

#listagem-not {
    border-radius: 20px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.25), 0px 4px 5px rgba(0, 0, 0, 0.25);
    margin: 10px 30px 30px 20px;
    padding:  10px;
    background-color: white;
  }

  #listagem-not td{
    height: 100% !important;
  }
#listagem-not tr{
    align-items: center !important;
}
