#box-cadAL{
    border-radius: 20px;
    background-color: #f5f5f5;
    margin: 0 30px 30px 20px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.25), 0px 4px 5px rgba(0, 0, 0, 0.25);

    
    padding: 10px 100px 30px 100px;
}
 
#box-cadAL h5{
    font-weight: bold;
    color: #00249c;
    display: flex;
    justify-content: center;
}

#form-cadAL label{
    font-style: italic;
    color: #00249c;

}
#box-cadAL img{
    display: flex;
    justify-content: center;
}



#form-cadAL textarea{
    border-color: #00249c;
}
#form-cadAL form {
    padding: 10px 100px 30px 100px;
    
}


.input-wrapper-cadAL input[type='file'] {
    display: none
}

.input-wrapper-cadAL label {
    background-color: #00249c;
    border-radius: 5px;
    color: #fff;
    margin: 10px 10px 10px 0;
    padding: 6px 20px;
    cursor: pointer;
}
  
.input-wrapper-cadAL label:hover {
    background-color: #67d2d7
}

#input-file-cadAL{
    width: 40%;
    color: white;
}

#input-wrapper-cadAL{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

#form-cadAL button{
    background-color: #00249c;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

#form-cadAL button:hover{
    background-color: #67d2d7
}



#bt-return{
    float: left;
    display: flex;
    font-size: 17px;
    color: #00249c;
    font-weight: 600;
}
