* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}



body {
  position: relative;
}

body,
input,
button {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

span,
p,
strong {
  color: #444;
}

.btn-primary {
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: white;
}

.btn-primary:hover {
  background: var(--main-hover);
}

.list-group-item.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

:root {
  --main-color: #328cb4;
  --amarelo: #f8d300;
  --azul: #007bff;
  --main-hover: #297394;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d9d9d9; 
  border-radius: 5px;
  margin: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #185296; 
  border-radius: 5px;
  
}


