.container-notificação-back{
    margin: 0;
    background-image: url('../../../assets/fundoleaf-book.svg');
    -webkit-font-smoothing: antialiased !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    overflow-y: hidden;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 78%;
    height: 110vh;
}
.body-notificação{
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.container-cadnotify{
    width: 100%;
}
#button-return-notificação{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
    color: #323bb4;
}