#fundo-I{
    border-radius: 20px;

    min-width: 860px;
    height: 100%;
    margin: 20px;

    padding: 10px;
    box-shadow: 3px 3px 8px 3px #888888;

    display: flex;
    flex-direction: column;
    background-color: white;
}
#instiContainerPerfil{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
#header-ContaPerfilIn{
    display: flex;
    align-items: center;
    margin: auto;
}
#header-ContaPerfilIn h5{
    font-style: italic;
    font-size: 25px;
    margin-right: 10px;
    font-weight: 600;
}
#body-PerfilInsta{
    width: 55%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    background-color: #185296;
    border-radius: 15px;
}
#body-PerfilInsta strong{
    font-size: 15px;
    color: black;
}
#body-PerfilInsta p{
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-left: 20px;
}
#conteudo-BodyPerfil{
   display: flex;
}
